/* 
    Created on : 21-Jul-2015, 06:58:57
    Author     : Lateepha
*/
.tab-style {
    padding-top: 3px !important;
    height: 52px;
}
.tab-style strong {
    float: left;
    font-size: 40px;
}
.content{
    float: left;
    padding-top: 10px !important;
    font-size: 12px !important;
    padding-left: 10px;
}
.content em {
    font-weight: bold;
    font-style: normal;
}
.tab-content {
    margin-bottom: 20px;
}

.chartdiv {
    height:400px; 
    width:100%;
    margin:0;
}
.tooltips{
    height: 300px;
    width: 250px;
}
.pointname{
    white-space: pre-wrap;
}
.gsc-search-button, .gsc-input {
    display: block;
}

div#example_filter {
    height: 45px;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
div#example_length {
    height: 45px;
}
.dataTables_wrapper .dataTables_length select {
    margin-left: 0.5em;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

div.dropdown-menu {
    width: 251px;
    padding: 10px;
    top: 36px;
    left: -35px;
}
.articlechartdiv {
    height:350px;     
    width:100%;
    margin:0 auto;
}

.modal-icon {
    font-size: 34px;
    color: #b4cfec;
}

.fa-cog {
  color: blue;
}